.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.not-found {
  display: flex;
  height: 100vh;
  padding: 0vh 40vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.not-found div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found div .nfheader {
  color: #1e40af;
  font-family: "Inter-Light", sans-serif;
  font-size: 12.5rem;
  font-weight: 600;
  line-height: 250px;
  text-align: center;
}

.not-found div .nfdetails {
  color: #1e40af;
  font-family: "Inter-Light", sans-serif;
  font-size: 1.428571429rem;
  line-height: 2.125rem;
  text-align: center;
}

.not-found div .ui.button.nfbutton {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  width: 277px;
  background-color: #2563eb;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  font-family: "Inter-Light", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375rem;
  text-align: center;
}

.not-found div .ui.button.nfbutton:hover,
.not-found div .ui.buttons.nfbutton .button:hover {
  background-color: #d3e0fb;
  color: white;
}
